.merchant-info {
    display: flex;
    align-items: center;
}

.merchant-image {
    margin-right: 10px; /* Adjust margin as needed */
}

.merchant-image img {
    width: 100px; /* Adjust image size as needed */
    height: auto;
}

.merchant-details {
    display: flex;
    flex-direction: column;
}