.merchant-info {
  display: flex;
  align-items: center;
  padding: 10px; 
  margin-right: 20px;
}

.merchant-image {
  margin-right: 10px;
}

.merchant-image img {
  max-height: 100px; 
  height: auto;

}

.merchant-details {
  display: flex;
  flex-direction: column;
}
.merchant-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  border-radius: 5px;
  align-items: center;
  padding:25px;
  margin-left: -200px;
}

.merchant-name {
  font-weight: bold;
  font-size: 3em;
}

.operating-hours {
  margin-left: 200px;
}